[Unit]
Description=Twitch notification service

[Service]
Restart=always
RestartSec=5
ExecStartPre=/bin/systemctl --user import-environment DISPLAY XAUTHORITY
ExecStart=$PREFIX/bin/twitch-cli --log=info activity --event=live --notify-live --favorites

[Install]
WantedBy=default.target
